{% set some_var1 = "Design tratamientos.es " %}
{% set holygrailcssv = "1.8.65" %}
{% set primary = "#ff0000" %}
{% set items = tratamientos %}
{% set direcciones = [
                { calle: ' C/ Riera
                Basté, 22-24, local 2A Sant Boi de Llobregat',
                codigopostal: '08830 , Sant Boi de Llobregat' ,
                ciudad: 'Barcelona',
                email: 'info@hsgservice.es',
                link: 'https://www.hsgservice.es',
                telf: 'M: 93 661 24 92'
                },
                { calle: 'Avda. Diagonal núm. 442, 3º2ª Barcelona.',
                codigopostal: '08037 , Barcelona' ,
                ciudad: 'Barcelona',
                telf: 'M: 93 661 24 92'
                },
                { calle: 'C/ Almagro, 44',
                codigopostal: '28010 , Madrid' ,
                ciudad: 'Madrid',
                telf: 'M: 637 764576'
                }
]
%}
{% set legal = [
{ calle: 'Carrer Francesc Macià, 11',
codigopostal: '08830 , Sant Boi de Llobregat' ,
ciudad: 'Barcelona',
email: 'info@hsgservice.es',
link: 'www.hsgservice.es',
telf: 'M: telf1'
}
]
%}