{% set some_var1 = "Design tratamientos.es " %}
{% set holygrailcssv = "1.8.65" %}
{% set primary = "#ff0000" %}
{% set items = tratamientos %}

{% set direcciones = [
     {  calle: ' C/ Riera
Basté, 22-24, local 2A Sant Boi de Llobregat', 
        codigopostal: '08830 , Sant Boi de Llobregat' ,
        ciudad: 'Barcelona',
        email: 'info@centremedicbaste.com',
        link: 'https://holysite.com',
        telf: 'M: 695 69 75 04'
},

     {  calle: 'Av. Diagonal núm. 442, 3º2ª Barcelona.', 
        codigopostal: 'xxxxx , Barcelona' ,
        ciudad: 'Barcelona',
        email: 'xxxx@',
        link: 'xxxx.com',
        telf: 'M: 673 25 20 60'
}
]
%}





{% set legal = [
     {  calle: 'Carrer Francesc Macià, 11', 
        codigopostal: '08830 , Sant Boi de Llobregat' ,
        ciudad: 'Barcelona',
        email: 'info@centremedicbaste.com',
        link: 'xxxx.com',
        telf: 'M: 695 69 75 04'
}
]
%}
