---
layout: base.njk
title: contacta

eleventyComputed:
  metaTitle: Contacta con HSG | Asesoría y Soporte para Tu Clínica Dental | HSG


  metaDescription: ¿Necesitas más información sobre nuestros servicios o tienes alguna consulta? Contacta con HSG hoy mismo. Nuestro equipo está listo para ayudarte a mejorar la rentabilidad y eficiencia de tu clínica dental. Llámanos o envíanos un mensaje para recibir asesoramiento personalizado.
  metaKeywords: "contacto HSG, atención al cliente HSG, soporte técnico dental, ayuda dental profesional, consultas dentales, asesoría dental, servicios para clínicas dentales, contacto soporte dental, equipo de soporte dental, HSG servicio cliente"

  metaRobots: "index, follow"


---
{% import '_globals.njk' as globals %}




{% include 'hero.njk' %}

<section class=" bg-dark has-light  front-section ptr-120 pbr-120">



<div class="container">
<div class="row">
  <div class="col-xs-3">

    <h4 class="fluid-6-b  pb-24">    <img src="/assets/static/home/contacta-map.png" alt="">   Dirección</h4>

Av. Diagonal núm. 442, 3º2ª Barcelona.  <br> <br>
C/ Riera Basté, 22-24, local 2A Sant Boi de Llobregat


  </div>


  <div class="col-xs-3">


<h4 class="fluid-6-b  pb-24"> 
  <img src="/assets/static/home/contacta-hora.png" alt="">
  
   Horario oficina</h4>
<b>Lunes – jueves: </b> <br>
08.00 h – 14.00 h y  <br>
16.00 h – 18.00 h
<br> <br>
<b>Viernes:</b> <br>
08.00 h – 14.00 h

Sábado y domingo:
Cerrado


  </div>


  <div class="col-xs-3">


<h4 class="fluid-6-b  pb-24">   <img src="/assets/static/home/contacta-mail.png" alt=""> Email  </h4>

<a href="mailto:info@hsgservice.es">info@hsgservice.es</a>

  </div>


  <div class="col-xs-3">



<h4 class="fluid-6-b  pb-24">   <img src="/assets/static/home/contacta-telf.png" alt="">Teléfonos</h4>

<a href="tel:+34936612492">936 612 492</a> <br> <br>
<a href="tel:+34637764576">637 764 576</a>
  </div>






</div>


</div>





</section>
<div class="container-fluid">
  <div class="row bleed-0">
    <div class="col-xs-12">
<div class="rat-21-4">
        <div class="rat-content">

<iframe width="100%" height="100%" loading="lazy" src="https://maps.google.com/maps?q=Avinguda%20Diagonal%2C%20442%2C%2009037%20Barcelona&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near" title="Avinguda Diagonal, 442, 09037 Barcelona" aria-label="Avinguda Diagonal, 442, 09037 Barcelona"></iframe>

        </div>
      </div>
  
  
  
    </div>
  </div>
</div>
{% include "banner.njk" %}