<div class="video-bg">
  <video poster="" autoplay="" muted="" loop="">
    <source src="/assets/static/satin.mp4" type="video/mp4" />
  </video>
</div>

<div class="container">
  <div class="row section-x height-md align-middle interior text-center">


    <div class="col-xs-12 front-text mdmax:mb-42">
      <div class="has-light  mb-32 ">

        <div class="vertical-wrap ">
          <div class="vertical-inner ">
            <h1 class="fluid-5-b  pb-24"> {{ title }} </h1>
          </div>
        </div>
        <div class="vertical-wrap-2 ">
          <div class="vertical-inner  ">
            <h2 class="fluid-8-r  mb-8"> {{ subtitle }}</h2>
          </div>
        </div>

      </div>
    </div>



    

  </div>



  
</div>






