<section class="popular">
  <!-- Slider main container -->
  <div class="ov-hidden">
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <!-- Slides -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel">
            <img width="100%" height="100%" src="assets/static/home/slider1.jpg" alt="Actualiza tu maquinaria">
            <div class="slide-text">
              <h4 class="fluid-8-b mb-16"> Actualiza tu maquinaria </h4>
              <div class="slide-text-content">
                <h5 class=" text-14-r"> Renovamos y financiamos tu maquinaria: sillón, escáner intraoral, tac dental o
                  autoclave, actualizando y digitalizando tu clínica.
                </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel">
            <img width="100%" height="100%" src="assets/static/home/slider3.jpg" alt="Financiación rápida y asequible ">
            <div class="slide-text">
              <h4 class="fluid-8-b mb-16"> Financiación rápida y asequible </h4>
              <div class="slide-text-content">
                <h5 class=" text-14-r">
                  Contamos con 4 entidades financieras a disposición de tu clínica y tus pacientes, con los intereses más bajos del mercado
                  , hasta 72 meses para financiar. Tramitación ágil a través de web.
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel">
            <img width="100%" height="100%" src="assets/static/home/slider4.jpg" alt="Ortodoncia invisible ">
            <div class="slide-text">
              <h4 class="fluid-8-b mb-16"> Ortodoncia invisible </h4>
              <div class="slide-text-content">
                <h5 class=" text-14-r">
                  Ortodoncia invisible con  alineadores
                  reveal ©.
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <a href="/departamentos/implantes/">
            <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel">
              <img width="100%" height="100%" src="assets/static/home/slider5.jpg" alt="">
              <div class="slide-text">
                <h4 class="fluid-8-b mb-16"> Implantes dentales </h4>
                <div class="slide-text-content">
                  <h5 class=" text-14-r">
                    Recibe más de un 50% de descuento en implantes de primera marca.
                  </h5>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- Rest of the slides -->
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need scrollbar -->
    </div>
  </div>
</section>