    <section class="popular">
      <!-- Slider main container -->
      <div class="ov-hidden">
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <!-- Slides -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
      >
                <img width="100%" height="100%" src="assets/static/home/slider1.jpg" alt="">
                <div class="slide-text">
                          <h4 class="fluid-7-b mb-16">   Actualiza tu maquinaria</h4>
                   <div class="slide-text-content">
                     <h5 class=" text-14-r">  Renovamos y financiamos tu maquinaria: sillón, escáner intraoral, tac dental o autoclave, actualizando y digitalizando tu clínica.
                                       </h5>
                   </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
            >
             <img width="100%" height="100%" src="assets/static/home/slider2.jpg" alt="">
                <div class="slide-text">
                  <h4 class="fluid-7-b mb-16">        Página web y redes sociales </h4>
                   <div class="slide-text-content">
                     <h5 class=" text-14-r"> 
                             Creamos tu página web sin que tengas que preocuparte por nada. Desarrollamos la personalidad de tu marca para la web y redes sociales. Diseñamos estrategias y planes exclusivos para impulsar tu clínica en redes sociales y Google.
                                       </h5>
                   </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                >
           <img width="100%" height="100%" src="assets/static/home/slider3.jpg" alt="">
               <div class="slide-text">
                   <h4 class="fluid-7-b mb-16">    Financiación rápida y asequible  </h4>
                   <div class="slide-text-content">
                     <h5 class=" text-14-r">      
                             Contamos con 4 entidades financieras a disposición de tu clínica y tus pacientes, con intereses bajos y más del 95% de aprobaciones instantáneas. Tramitación ágil a través de web.
                                       </h5>
                   </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
               >
            <img width="100%" height="100%" src="assets/static/home/slider4.jpg" alt="">
            <div class="slide-text">
                   <h4 class="fluid-7-b mb-16">            Implantes dentales  </h4>
                   <div class="slide-text-content">
                     <h5 class=" text-14-r">      
                             Recibe desde un 30% hasta un 65% de descuento y financiación en las marcas más reconocidas.
                                       </h5>
                   </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
>
            <img width="100%" height="100%" src="assets/static/home/slider5.jpg" alt="">
           <div class="slide-text">
                   <h4 class="fluid-7-b mb-16">         Ortodoncia invisible </h4>
                   <div class="slide-text-content">
                     <h5 class=" text-14-r">      
                             Te damos un 45% de descuento en alineadores y acceso a formaciones de ortodoncia invisible con SureSmile.
                                       </h5>
                   </div>
                </div>
              </div>
            </div>
            <!-- Rest of the slides -->
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need scrollbar -->
        </div>
      </div>
    </section>