    <section class="popular">


      <!-- Slider main container -->
      <div class="ov-hidden">
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <!-- Slides -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman" alt="">
                <div class="slide-title">
                   <h4 class="text-18-b">   Actualiza tu maquinaria</h4>
                   <h5 class=" text-14-r">  Renovamos y financiamos tu maquinaria: sillón, escáner intraoral, tac dental o autoclave, actualizando y digitalizando tu clínica.
                  </h5>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman??" alt="">
                <div class="slide-title">
                  <h4 class="text-18-b">        Página web y redes sociales </h4>
                   <h5 class=" text-14-r"> 
        Creamos tu página web sin que tengas que preocuparte por nada. Desarrollamos la personalidad de tu marca para la web y redes sociales. Diseñamos estrategias y planes exclusivos para impulsar tu clínica en redes sociales y Google.
                  </h5>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman???" alt="">
               <div class="slide-title">
                   <h4 class="text-18-b">    Financiación rápida y asequible  </h4>
                   <h5 class=" text-14-r">      
        Contamos con 4 entidades financieras a disposición de tu clínica y tus pacientes, con intereses bajos y más del 95% de aprobaciones instantáneas. Tramitación ágil a través de web.
                  </h5>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerEscapes.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman?????" alt="">
            <div class="slide-title">
                   <h4 class="text-18-b">            Implantes dentales  </h4>
                   <h5 class=" text-14-r">      
        Recibe desde un 30% hasta un 65% de descuento y financiación en las marcas más reconocidas.
                  </h5>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-link hero__button action action--hidden action--play" aria-label="slide carrousel"
                data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4">
                <img width="100%" height="100%" src="https://source.unsplash.com/500x500?woman????" alt="">
           <div class="slide-title">
                   <h4 class="text-18-b">         Ortodoncia invisible </h4>
                   <h5 class=" text-14-r">      
        Te damos un 45% de descuento en alineadores y acceso a formaciones de ortodoncia invisible con SureSmile.
                  </h5>
                </div>
              </div>
            </div>
            <!-- Rest of the slides -->
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need scrollbar -->
        </div>
      </div>
    </section>