---
layout: base.njk
title: Colaboradores
permalink: /colaboradores/
image: /assets/static/about-0.webp
eleventyComputed:
  metaTitle: " FORMACIÓN | Clínica de Medicina Estética y Odontología Avanzada en Sant Boi "
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial,
  tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
<div class="video-bg">
  <video poster="" autoplay="" muted="" loop="">
    <source src="/assets/static/satin.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fullpage bleed-0 bg-dark has-light">
  {% include 'hero.njk' %}
</div>
<div class="bg-light front-section">



<section class="container-2 text-center ptr-120 pbr-120">
  <div class="row">



    <div class="col-xs-12">
      <div class="fluid-5-b accent mb-24">
ÚNETE A HSG
  
      </div>

      <div class="fluid-8-r  mb-24">
Juntos hemos conseguido ayudar a más de 360 socios a conseguir los mejores precios en financiación, conseguir los mejores precios en material clínico, y mucho más.
          </div>


<div class="fluid-8-r mb-24">Contacta con nosotros para saber más información sobre nuestros servicios. <br> <b>Esperamos tu mensaje. </b></div>





<div class="c-primary bold fluid-5-r">Juntos hacia un futuro mejor.</div>

          
    


    </div>
  </div>
</section>


</div>


{% include "banner.njk" %}