---
layout: base.njk
title: FORMACIÓN
permalink: /formacion/
image: /assets/static/about-0.webp
eleventyComputed:
  metaTitle: " FORMACIÓN | Hsgservice |  Plataforma de Servicios Odontológicos "
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial,
  tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
<div class="video-bg">
  <video poster="" autoplay="" muted="" loop="">
    <source src="/assets/static/satin.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fullpage bleed-0 bg-dark has-light">
  {% include 'hero.njk' %}
</div>
<div class="bg-light front-section">
  <section class="container">
    <div class="row height-md align-center">
      <div class="col-xs-12">
        <span class="fluid-4-b accent"> Primeras Visitas </span>
      </div>
    </div>
  </section>
  <section class="container bg-light">
    <div class="row ">
      <div class="col-xs-12 col-sm-6  mb-24">
        <img class="card-formacion" src="/assets/static/formacion/master1.jpg" alt="">
        <div class="accordion-wrap">
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 1 - <b>¿Cómo actúa el paciente? </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Saber identificar el perfil del paciente.</li>
                  <li>Exceso de información del paciente.</li>
                  <li>Saber diferenciarse de la competencia.</li>
                  <li>Objetivos marcados por la plataforma HSG.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 2 -<b> Primeras visitas </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Captación de primeras visistas de recepción y gestión de agendas.</li>
                  <li>Imagen que trasmitimos a nuestros pacientes.</li>
                  <li>Plan de tratamiento.</li>
                  <li>Protocolo de actuación.</li>
                  <li>Técnicas de comunicación.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header">Módulo 3 - <b>Confianza</b></div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Factor principal para que el paciente elija tu clínica.</li>
                  <li>Trasmitir confianza y transparencia.</li>
                  <li>Saber identificar el perfil del paciente.</li>
                  <li>¿Realmente demostramos lo que somos?</li>
                  <li>¿Motivamos a nuestro personal?</li>
                  <li>Técnicas de comunicación.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header">Módulo 4 -<b> El equipo </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>El equipo es fundamental en el cierre, desde la recepción hasta la persona en prácticas.</li>
                  <li>Presentación del tratamiento.</li>
                  <li>Puntos importantes y obstáculos claves.</li>
                  <li>Formas de pago.</li>
                  <li>Finalización de la visita.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 5 -<b> Visitas sin citas</b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Seguimientos de visitas sin resultados.</li>
                  <li>Cómo recuperar a ese paciente.</li>
                  <li>Recordatorios de revisiones.</li>
                  <li>Cómo hacer que funcione tu base de datos.</li>
                  <li>Crea tu propio sistema de generación de primeras visitas automatizado.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="fluid-8-b accent mb-24">
          ¡Crea tu propio sistema de generación
          de primeras visitas automatizado!
        </div>
        <div class="fluid-5-b accent mb-24">265€</div>
        <a href="/contacta/#seccioncontacta"><button class="btn btn-secondary btn--small mb-24">Reservar</button></a>
        <div class="fluid-8-b accent">¿Qué aprenderás en esta masterclass?</div>
        <ul class="list-clear">
          <li>Serás capaz de identificar el perfil de cada paciente y cómo abordarlo según su personalidad.</li>
          <li>Conocerás el protocolo de actuación ideal que puedes aplicar desde que el paciente entra en la clínica
            para generar confianza y una buena impresión.</li>
          <li>Aprenderás cómo presentar las formas de pago y el plan de tratamiento para garantizar la aceptación por
            parte del paciente.</li>
          <li>Sabrás los protocolos de actuación para recuperar pacientes que no han vuelto a la consulta.</li>
          <li>Conocerás las herramientas más adecuadas para dar a conocer tu clínica y atraer nuevos pacientes.</li>
          <li>Motivación del personal.</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row height-md align-center">
      <div class="col-xs-12">
        <span class="fluid-4-b accent"> Técnicas avanzadas </span>
      </div>
    </div>
  </section>
  <section class="container bg-light">
    <div class="row ">
      <div class="col-xs-12 col-sm-6 mb-24">
        <img class="card-formacion" src="/assets/static/formacion/master2.jpg" alt="">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="fluid-8-b accent mb-24">
          ¡Crea tu propio sistema de generación
          de primeras visitas automatizado!
        </div>
        <div class="fluid-5-b accent mb-24">265€</div>
        <ul class="list-clear">
          <li>Un total de 12 módulos</li>
          <li>Masterclass ¡EN VIVO!</li>
          <li>Certificado de participación</li>
          <li>Soporte de preguntas o dudas durante las Masterclasses</li>
          <li>Guías de protocolos (obsequio)</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row height-md align-center">
      <div class="col-xs-12">
        <span class="fluid-5-b accent"> Técnicas Avanzadas en venta de servicios sanitarios
        </span>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6  mb-24">
        <img class="card-formacion" src="/assets/static/formacion/master3.jpg" alt="">
        <div class="accordion-wrap">
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 1 - <b>¿Qué es la venta? </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Aprendiendo a ayudar</li>
                  <li>Generar valor y derribar miedos</li>
                  <li>Orgullo de llamarse vendedor</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 2 -<b> Neuroventa </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>¿Por qué compramos?</li>
                  <li>Evolución del cerebro humano</li>
                  <li>Sistemas de compra/rechazo</li>
                  <li>Fórmula ANUM</li>
                  <li>El cerebro comprador</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header">Módulo 3 - <b> La investigación</b></div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Propósitos.</li>
                  <li>Claves de una buena investigación.</li>
                  <li>Cómo practicar la escucha activa.</li>
                  <li>El lenguaje no verbal.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header">Módulo 4 -<b> La empatía como herramienta de venta </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li> Claves para empatizar</li>
                  <li> Lo que nos hace similares nos une</li>
                  <li> Ejercicios para mejorar la empatía</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 5 -<b> El “cierre” de la venta</b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>La objeción a ser vendido</li>
                  <li>El primer producto a vender: el vendedor visualiza la venta ya realizada (proyectar el éxito)
                  </li>
                  <li>Detectar las señales de compra</li>
                  <li>Tratamiento de objeciones</li>
                  <li>Asumir el cargo</li>
                  <li>Técnicas de cierre</li>
                  <li>No exagerar la venta</li>
                  <li>La técnica del todo o nada</li>
                  <li>Cómo prevenir el remordimiento</li>
                  <li>La venta nunca termina</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 6 - <b>Dirección de venta </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Estrategia (aceptación/precio medio)</li>
                  <li>Análisis. Datos de interés.</li>
                  <li>Decisiones prácticas</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion">
            <div class="accordion-inner">
              <div class="accordion-header"> Módulo 7 -<b> Taller práctico </b> </div>
              <div class="accordion-content">
                <ul class="list-clear">
                  <li>Roll plays</li>
                  <li>Preguntas prácticas de los asistentes</li>
                  <li>Cierre y despedida</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="fluid-8-b accent mb-24"> Los hábitos, necesidades y decisiones de los pacientes han cambiado, es
          hora de que los analices a fondo para que los hagas felices.
        </div>
        <div class="fluid-5-b accent mb-24">265€</div>
        <a href="/contacta/#seccioncontacta"><button class="btn btn-secondary btn--small mb-24">Reservar</button></a>
        <div class="fluid-8-b accent mb-24">¿Qué aprenderás en esta masterclass?</div>
        <ul class="list-clear">
          <li>– Identificar el cerebro comprador.</li>
          <li>– Aprenderás a generar valor y derribar miedos.</li>
          <li>– Conocer los procesos de negociación durante el cierre de una venta.</li>
          <li>– Aplicar las técnicas y las estrategias de neuroventas para anticipar necesidades tu paciente.</li>
          <li>– Utilizar la empatía como herramienta de venta.</li>
          <li>– Conocer el lenguaje no verbal transmitido por los pacientes y así comprender la escucha activa.</li>
        </ul>
      </div>
    </div>
  </section>
</div>
<script>
</script>