---
layout: base.njk
permalink: /
title: 	Centro Médico Estético en Sant Boi | Clínica médica estética Basté
eleventyComputed:
  title: Centre mèdic i estètic Basté | Centro de medicina estética y odontología avanzada en Sant Boi 
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial, tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
  <div class="container-fullpage ">
    <div class="header-img ">
      {# <div class="video-bg">
        <video poster="" autoplay="" muted="" loop="">
          <source src="/assets/static/satin.mp4" type="video/mp4">
        </video>
      </div> #}
      <div class="container ">
        <div class="row">
          <div class="col-xs-6">
            <div class="height-full-2 is-flex flex-column content-center ">
              <h1 class="fluid-4-b mb-16 mt-40 accent" data-aos="fade-up"> 
         Aumentar la rentabilidad
<span class="accent">de tu clínica es posible</span>
                </h1>
              <br>
              <p  data-aos="fade-up" data-aos-delay="200" class="p1 mb-40">
                Optimizar los costes de tratamientos siempre ha sido un reto.
Sabemos que otorgar servicios clínicos de alta calidad y al mismo tiempo ofrecer un presupuesto
cerrado y adaptado a cada paciente es importante para tu clínica.
En HSG contamos con los servicios que necesitas para
<b>aumentar la rentabilidad y disminuir tus gastos</b>
              </p>
              <button class="btn btn-primary btn--medium">
                Empieza ahora
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


<section> 
  <div class="row height-md  align-middle  text-center">
    <div class="col-xs-12">
<span class="fluid-7-b  accent">Nuestros servicios principales</span>
    </div>
  </div>
</section>




<section class="bg-dark has-light ptr-64 pbr-64"> 

  <div class="row   align-middle  text-center pbr-64">
    <div class="col-xs-12">
    <span class="fluid-7-b  ">¿Por qué elegirnos?</span>
    </div>
  </div>


    <div class="row   align-middle  text-center">
    <div class="col-xs-3">
<span class="fluid-7-b  ">Nuestros servicios principales</span>
    </div>
        <div class="col-xs-3">
<span class="fluid-7-b  ">Nuestros servicios principales</span>
    </div>

        <div class="col-xs-3">
<span class="fluid-7-b  ">Nuestros servicios principales</span>
    </div>

        <div class="col-xs-3">
<span class="fluid-7-b  ">Nuestros servicios principales</span>
    </div>
  </div>
</section>





<section class=" ptr-64 pbr-64"> 

  <div class="row   align-middle  text-center pbr-64">
    <div class="col-xs-12">
    <span class="fluid-7-b accent  ">Nuestros socios lo saben  </span>
    </div>

    <div class="col-xs-12">
      <span class="p1  "> Están satisfechos con nuestros servicios, y con los beneficios del grupo.</span>
      </div>
  </div>


    <div class="row   align-middle  text-center">
    <div class="col-xs-3">
<span class="fluid-7-b  ">img</span>
    </div>
        <div class="col-xs-3">
<span class="fluid-7-b  ">img</span>
    </div>

        <div class="col-xs-3">
<span class="fluid-7-b  ">img</span>
    </div>

        <div class="col-xs-3">
<span class="fluid-7-b  ">img</span>
    </div>
  </div>
</section>



<section class=" container ptr-64 pbr-64"> 

  <div class="row   align-middle  text-center pbr-64">
    <div class="col-xs-12 mb-24">
    <span class="fluid-7-b accent  ">Planes para nuestros socios </span>
    </div>

    <div class="col-xs-12">
      <span class="p1  "> Elige tu plan adaptado a las necesidades de tu negocio. El plan básico está pensado para medianas-
        pequeñas clínicas y el plan vip está creado para clínicas de grandes dimensiones.  </span>
      </div>
  </div>


    <div class="row   align-middle  ">
    <div class="col-xs-6">


<ul class="list-clear">
  <li>Financiación con tarifas de grupo</li>
  <li>Descuentos de grupo en depósitos dentales</li>
  <li>Ortodoncia invisible</li>
  <li>Grandes descuentos en compra de maquinaria dental</li>
  <li>Cursos de formación</li>
  <li>Descuentos en implantes</li>
  <li>Adhesión a Cooperativa Medical Solutions SCCL</li>
</ul>


    </div>
        <div class="col-xs-6">
<span class="fluid-7-b  ">img</span>
    </div>

  </div>
</section>


<section class=" container ptr-64 pbr-64"> 

  <div class="row   align-middle  text-center pbr-64">
    <div class="col-xs-12 mb-24">
    <span class="fluid-7-b accent  ">Ellos son la voz de nuestro trabajo </span>
    </div>

    <div class="col-xs-12">
      <span class="p1  "> Lo que opinan nuestros clientes: </span>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-4">dfsdffdsdf</div>
    <div class="col-xs-4">dfsdffdsdf</div>
    <div class="col-xs-4">dfsdffdsdf</div>
  </div>


</section>




<section class=" container ptr-64 pbr-64"> 

  <div class="row   align-middle   pbr-64">
    <div class="col-xs-6 mb-24">
    <p class="fluid-7-b accent mb-16  ">Todo esto y mucho más en un solo lugar </p>
    <p class="p1 mb-32">
      A partir de ahora dirigir tu clínica será mucho más sencillo, estamos para cubrir
todos los aspectos de tu negocio.
Por el precio de una limpieza bucal puedes disfrutar de todos nuestros servicios.
¡Estás a un paso de mejorar tu clínica!
    </p>

<button class="btn btn-primary btn-small mb-32">Empieza Aqui</button>

    </div>

    <div class="col-xs-6">
      <span class="p1  "> <img src="" alt="">    </span>
      </div>
  </div>



</section>



<section class=" container ptr-64 pbr-64"> 

  <div class="row   align-middle   pbr-64">

    <div class="col-xs-6">
      <span class="p1  "> <img src="" alt="">    </span>
      </div>


    <div class="col-xs-6 mb-24">
    <p class="fluid-7-b accent mb-16  ">Guía Gratuita con "
      <bold class="accent">
        5
        Claves
      </bold>
       para que tus
      pacientes 
      <span class="accent">
        acepten el
        presupuesto
      </span>
      " </p>
    <p class="p1 mb-32">
      Estrategias diseñadas y probadas con éxito que se
      aplican desde que el paciente entra a la clínica
      hasta que está en su casa frente a la tele.
      Con esta guía aprenderás 5 pasos claves que
      podrás implementar en tu clínica desde ya.
    </p>

<button class="btn btn-primary btn-small mb-32">Descarga aqui </button>

    </div>


  </div>



</section>






{# {% include 'swiper.njk' %} #}
{% include "banner.njk" %}
  </div>
