---
layout: base.njk
permalink: /
title: Centro Médico Estético en Sant Boi | Clínica médica estética Basté
eleventyComputed:
  title: Centre mèdic i estètic Basté | Centro de medicina estética y odontología avanzada en Sant Boi
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial,
  tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
{% import "_insert.njk" as insert %}

<section class="container-fullpage inview">
  <div class="header-img">
    <div class="video-bg">
      <video poster="" autoplay="" muted="" loop="">
        <source src="/assets/static/satin.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 has-light">
          <div class="height-full-2 is-flex flex-column content-center">

            <h1 class="fluid-4-b mb-16 mt-40 " data-aos="fade-up">
              <div class="accent">{% call insert.splitenpalabras('Aumentar la rentabilidad  ') %} {% endcall %}</div>

                     {% call insert.splitenpalabras('de tu clínica es posible ') %} {% endcall %}

            </h1>

            <br />
            <p data-aos="fade-up" data-aos-delay="200" class="p1 mb-40">
              Optimizar los costes de tratamientos siempre ha sido un reto.
              Sabemos que otorgar servicios clínicos de alta calidad y al mismo
              tiempo ofrecer un presupuesto cerrado y adaptado a cada paciente
              es importante para tu clínica.
              <br>   <br>
               En HSG contamos con los servicios
              que necesitas para
              <b>aumentar la rentabilidad y disminuir tus gastos</b>
            </p>
            <a href="/solicitar-cita/">
              <div class="btn btn-secondary btn--mini">
                EMPIEZA A AHORRAR
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fullpage front-section bg-light">
  <section class="inview">
    <div class="row height-md align-middle text-center">
      <div class="col-xs-12">
        <span class="fluid-7-b accent">                {% call insert.splitenpalabras('Nuestros servicios principales') %} {% endcall %}  </span>
      </div>
    </div>
    {% include 'swiper.njk' %}
  </section>
  <section class="inview bg-dark has-light ptr-64 pbr-64 ">
    <div class="row align-middle text-center pbr-64">
      <div class="col-xs-12">
        <span class="fluid-7-b">¿Por qué elegirnos?</span>
      </div>
    </div>
    <div class="container">
      <div class="row align-middle text-center">
        <div class="col-xs-4">
          <img src="/assets/static/home/ico-1.png" alt="">
          <div>
            <span class="fluid-8-b">
              <div class="counter" data-count="100%">0
              </div> <span>%</span>
            </span>
            <div class="fluid-9-r"> Fidelidad</div>
          </div>
        </div>
        <div class="col-xs-4">
          <img src="/assets/static/home/ico-2.png" alt="">
          <div>
            <span class="fluid-8-b">
              <div class="counter" data-count="100%">0 %</div> <span>%</span>
            </span>
            <div class="fluid-9-r">Acción personalizada</div>
          </div>
        </div>
        <div class="col-xs-4">
          <img src="/assets/static/home/ico-3.png" alt="">
          <div>
            <span class="fluid-8-b">
              <div class="counter" data-count="4">0</div>
            </span>
            <div class="fluid-9-r"> Entidades financieras a tu servicio</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="inview ptr-64 pbr-64 ">
    <div class="row align-middle text-center pbr-64">
      <div class="col-xs-12 mb-24">
        <span class="fluid-7-b accent">Nuestros socios lo saben </span>
      </div>
      <div class="col-xs-12">
        <span class="p1">
          Están satisfechos con nuestros servicios, y con los beneficios del
          grupo.</span>
      </div>
    </div>
    <div class="container">
      <div class="row-logos align-middle text-center">
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-1.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-2.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-3.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-4.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-5.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-6.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-7.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-8.jpg" alt=""> </span>
        </div>
        <div class="">
          <span class="fluid-7-b"> <img src="/assets/static/home/logo-9.jpg" alt=""> </span>
        </div>
      </div>
    </div>
  </section>
  <section class="inview container ptr-64 pbr-64 ">
    <div class="row align-middle text-center pbr-64">
      <div class="col-xs-12 mb-24">
        <span class="fluid-7-b accent">Planes para nuestros socios </span>
      </div>
      <div class="col-xs-12">
        <span class="p1">
          Elige tu plan adaptado a las necesidades de tu negocio. El plan básico
          está pensado para medianas- pequeñas clínicas y el plan vip está
          creado para clínicas de grandes dimensiones.
        </span>
      </div>
    </div>
    <div class="container-2">
      <div class="row align-middle">
        <div class="col-xs-6">
          <ul class="list-clear p1 box-list">
            <li> <span class="fluid-7-b accent">PREMIUM</span> </li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Financiación con tarifas de grupo</li>
            <li> <b class="fluid-8-b c-primary"> ✓ </b> Descuentos de grupo en depósitos dentales</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Ortodoncia invisible</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Grandes descuentos en compra de maquinaria dental</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Cursos de formación</li>
            <li><b class="fluid-8-b c-error pr-8"> ✘</b>Descuentos en implantes</li>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul class="list-clear p1 box-list">
            <li> <span class="fluid-7-b accent">VIP </span> </li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Financiación con tarifas de grupo</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Descuentos de grupo en depósitos dentales</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Ortodoncia invisible</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Grandes descuentos en compra de maquinaria dental</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Cursos de formación</li>
            <li><b class="fluid-8-b c-primary"> ✓ </b>Descuentos en implantes</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="inview container ptr-64 pbr-64 ">
    <div class="row align-middle text-center">
      <div class="col-xs-12 mb-24">
        <span class="fluid-7-b accent">Ellos son la voz de nuestro trabajo
        </span>
      </div>
      <div class="col-xs-12">
        <span class="p1"> Lo que opinan nuestros clientes: </span>
      </div>
    </div>
  </section>
  <section class="inview">
    <div class="marquee">
      <div class="marquee--inner">
        <span class="marquee--span">
          <div class="marquee--inner-div">
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Excelente servicio, muy profesionales recomendable 100%'
              ,'Sonia Romera','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %}
            </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Trabajo con ellos hace casi 4 años, te ayudan en todo momento, las formaciones que ofrecen son muy buenas e interesantes. Grandes profesionales, trato excepcional, recomiendo 100%.'
              ,'sara marrahi','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %} </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Estamos encantados de trabajar con un equipo tan competente desde un punto de vista profesional; y tan amable y acogedor personalmente. Todos sus servicios son recomendables 100%'
              ,'Dentinova Ortodoncia & Kids','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %} </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Personal muy profesional, trato cercano y amable. Llevamos un par de años colaborando con ellos y estamos contentos. Es muy cómodo trabajar con HSG. Especial mención a Marisol hace que el trabajo sea sencillo, muy resolutiva ante cualquier incidencia. HSG Service lo recomiendo 100%'
              ,'MINIM. Tu Ortodoncia Invisible','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %}
            </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Hice con ellos la formación de primeras visitas y las técnicas que me han dado las comencé a usar desde el primer día, los resultados han sido muy buenos, puedo notar a los pacientes más contentos y ya trabajamos de una manera mas organizada'
              ,'Alesanko Martinez','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %} </div>
          </div>
        </span>
        <span class="marquee--span">
          <div class="marquee--inner-div">
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Excelente servicio, muy profesionales recomendable 100%'
              ,'Sonia Romera','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %}
            </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Trabajo con ellos hace casi 4 años, te ayudan en todo momento, las formaciones que ofrecen son muy buenas e interesantes. Grandes profesionales, trato excepcional, recomiendo 100%.'
              ,'sara marrahi','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %} </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Estamos encantados de trabajar con un equipo tan competente desde un punto de vista profesional; y tan amable y acogedor personalmente. Todos sus servicios son recomendables 100%'
              ,'Dentinova Ortodoncia & Kids','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %} </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Personal muy profesional, trato cercano y amable. Llevamos un par de años colaborando con ellos y estamos contentos. Es muy cómodo trabajar con HSG. Especial mención a Marisol hace que el trabajo sea sencillo, muy resolutiva ante cualquier incidencia. HSG Service lo recomiendo 100%'
              ,'MINIM. Tu Ortodoncia Invisible','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %}
            </div>
            <div class="marquee--inner-div-inner">
              {% call insert.comentario('marketing-spot' ,'Hice con ellos la formación de primeras visitas y las técnicas que me han dado las comencé a usar desde el primer día, los resultados han sido muy buenos, puedo notar a los pacientes más contentos y ya trabajamos de una manera mas organizada'
              ,'Alesanko Martinez','AATXAJw-aN4Ob64Nnu1Ojq0RpH-fyhxN4ssayUwpUfwj=s120-c-c-rp-w64-h64-mo-br100') %}
              {% endcall %} </div>
          </div>
        </span>
      </div>
    </div>
  </section>
  <section class="inview container ptr-64 pbr-64">
    <div class="row align-middle pbr-64">
      <div class="col-xs-6 mb-24">
        <p class="fluid-7-b accent mb-16">
          Todo esto y mucho más en un solo lugar
        </p>
        <p class="p1 mb-32">
          A partir de ahora dirigir tu clínica será mucho más sencillo, estamos
          para cubrir todos los aspectos de tu negocio. Por el precio de una
          limpieza bucal puedes disfrutar de todos nuestros servicios. ¡Estás a
          un paso de mejorar tu clínica!
        </p>
        <a href="/contacta/"><button class="btn btn-primary btn-small mb-32">Empieza Contactando con nosotros</button></a>
      </div>
      <div class="col-xs-6">
        <div class="p1 imginicio"> <img  src="/assets/static/home/inicio-1.jpg" alt="" /> </div>
      </div>
    </div>
  </section>
  {# <section class="inview container-3 ptr-64 pbr-64">
    <div class="row align-middle pbr-64">
      <div class="col-xs-6">
        <span class="p1"> <img src="/assets/static/home/inicio-2.jpg" alt="" /> </span>
      </div>
      <div class="col-xs-6 mb-24">
        <p class="fluid-7-b accent mb-16">
          Guía Gratuita con "
          <bold class="accent"> 5 Claves </bold>
          para que tus pacientes
          <span class="accent"> acepten el presupuesto </span>
          "
        </p>
        <p class="p1 mb-32">
          Estrategias diseñadas y probadas con éxito que se aplican desde que el
          paciente entra a FORMACIÓN hasta que está en su casa frente a la tele.
          Con esta guía aprenderás 5 pasos claves que podrás implementar en tu
          clínica desde ya.
        </p>
        <button class="btn btn-primary btn-small mb-32">Descarga aqui</button>
      </div>
    </div>
  </section> #}
  {% include "banner.njk" %}
</div>