---
layout: base.njk
title: NOSOTROS
permalink: /nosotros/
image: /assets/static/about-0.webp
eleventyComputed:
  metaTitle: " FORMACIÓN | Clínica de Medicina Estética y Odontología Avanzada en Sant Boi "
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial,
  tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
{% import "_insert.njk" as insert %}
<div class="video-bg">
  <video poster="" autoplay="" muted="" loop="">
    <source src="/assets/static/satin.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fullpage bleed-0 bg-dark has-light">
  {% include 'hero.njk' %}
</div>
<div class="bg-light front-section">
  <section class="container bg-light ptr-120 pbr-120
  ">
    <div class="row ">
      <div class="col-xs-6">
        <img src="/assets/static/nosotros/nosotros-1.jpg" alt="">
      </div>
      <div class="col-xs-6">
        <div class="fluid-5-b accent mb-24">
          Nuestro equipo
        </div>
        <div class="fluid-8-r  mb-24"> Somos un grupo de profesionales que ha unido clinicas dentales y estéticas
          privadas a nivel nacional, para que puedan competir consiguiendo mejores ventajas y precios que las
          franquicias, mutuas y grandes marcas.</div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="fluid-8-r  mb-24">
          Nuestro Ceo Joan Chavarría, propietario de una clínica dental familiar, vió la necesidad de la unión dentro de
          un grupo para poder hacer frente a los retos diarios de una competencia desleal.
          <br>
          Por eso creó HSG, para que lo importante sea la calidad de tu trabajo y no el tamaño de tu clínica,
          consiguiendo beneficios, ahorro y financiaciones para pacientes y clínicas.
        </div>
      </div>
      <div class="col-xs-6">
        <img src="/assets/static/nosotros/nosotros-2.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="container text-center ptr-120">
    <div class="row">
      <div class="col-xs-12">
        <div class="fluid-5-b accent mb-24">
   Nuestro Equipo
        </div>
        <div class="fluid-8-r">
          Encontrarás en nosotros un equipo cercano y comprometido con ofrecerte el mejor servicio en
          cada momento. De esta manera conseguimos proporcionar a nuestros asociados servicios
          de calidad dándoles el soporte que necesitan en cada momento.
        </div>
      </div>



    </div>
    <div class="row   ptr-64">
      <div class="col-xs-3">
        {% call insert.team('team-1' ,'CEO- Joan Chavarría
        ','Fundador y CEO de HSG. 23 años dirigiendo consultas. Dirige al equipo de expertos para satisfacer las
        necesidades de los socios de la empresa
        ') %}
        {% endcall %}
      </div>
      <div class="col-xs-3">
        {% call insert.team('team-2' ,'Marisol Cabañas
        ','Directora de departamentos.
        ') %}
        {% endcall %}</div>
      <div class="col-xs-3">
        {% call insert.team('team-3' ,'Tamires Silva
        ','Responsable del departamento de formación.
        ') %}
        {% endcall %} </div>
      <div class="col-xs-3">
        {% call insert.team('team-4' ,'Glevi Montilla','Responsable del departamento de marketing y gestión de redes
        sociales.
        ') %}
        {% endcall %}
      </div>
    </div>
  </section>
  <section class="container-2 text-center ptr-120 pbr-120">
    <div class="row">


      <div class="col-xs-12">
        <div class="fluid-5-b accent mb-24">
        Colaboradores
               </div>
      </div>
      


      <div class="col-xs-12 mb-64">
        <img src="/assets/static/nosotros/medical.png" alt="">
      </div>



      <div class="col-xs-12">
        <div class="fluid-5-b accent mb-24">
          ÚNETE A HSG
        </div>
        <div class="fluid-8-r  mb-24">
          Juntos hemos conseguido ayudar a más de <b>360 socios </b>a conseguir los mejores precios en financiación,
          conseguir los mejores precios en material clínico, y mucho más.
        </div>
        <div class="fluid-8-r mb-24">Contacta con nosotros para saber más información sobre nuestros servicios. <br>
          <b>Esperamos tu mensaje. </b></div>
        <div class="c-primary bold fluid-5-r">Juntos hacia un futuro mejor.</div>
      </div>
    </div>
  </section>
</div>
{% include "banner.njk" %}