---
layout: base.njk
title: DATE DE ALTA
permalink: /tramitar-alta/
image: /assets/static/about-0.webp
eleventyComputed:
  metaTitle: Tramita tu Alta en HSG| Documentación para Autónomos y Empresas | HSG
  metaDescription: Encuentra toda la documentación necesaria para tramitar tu alta como autónomo o empresa en HSG. Descarga fácilmente los documentos requeridos como el Modelo 036 o 037, y asegura que todos tus papeles estén en regla. Simplifica el proceso de alta con nuestra guía detallada y apoyo constante.
  metaKeywords: "tramitación de alta autónomo, documentos de alta empresa, modelo 036, modelo 037, alta Seguridad Social, alta Hacienda, documentación odontólogos, requisitos alta autónomo, documentos fiscales 2023, tramitación empresarial dental"
  metaRobots: "index, follow"
---
<div class="video-bg">
  <video class="video-cover " width="100%" height="auto" autoplay muted loop playsinline  >
    <source src="/assets/static/satin.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fullpage bleed-0 bg-dark has-light">
  {% include 'hero.njk' %}
</div>
<div class="bg-light front-section">
  <section class=" ">
    <div class="container text-center height-xl  align-center ">
      <div class="row">
        <div class="col-xs-12">
          <div class="fluid-4-b  accent">
            Documentación necesaria a adjuntar para tramitar el alta
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mb-64 ">
    <div class="container  height-xl ">
      <div class="row">
           <div class="col-xs-12 col-sm-6 text-center ">
          <div class="fluid-5-b  c-primary mb-24">
            Para Autónomos
          </div>
        <img src="/assets/static/tramitar/autonomos.jpg" alt="">
        <a href="/assets/static/altahsgservice.docx"><button class="btn btn-primary btn-small mt-32">Descarga nuestro Documento de Alta </button></a>


        </div>
        <div class="col-xs-12 col-sm-6">
          <ul class=" list-big fluid-8-r">
            <li>Documentos de alta de autónomo en Seguridad Social.</li>
            <li>Documento de alta en Hacienda (Modelo 036 O 037).</li>
            <li>Fotocopia DNI del administrador/es y de la tarjeta Colegio Oficial de Odontólogos.</li>
            <li>Justificante del número de cuenta bancaria.</li>
            <li>Último recibo de autónomo.</li>
            <li>Fotocopia IRPF 2023.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section class="container pbr-120 ">
    <div class="container  height-xl ">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-center ">
          <div class="fluid-5-b  accent mb-24">
            Para Empresas
          </div>
               <img src="/assets/static/tramitar/empresas.jpg" alt="">
               <a href="/assets/static/altahsgservice.docx"><button class="btn btn-primary btn-small mt-32">Descarga nuestro Documento de Alta </button></a>

        </div>
        <div class="col-xs-12 col-sm-6">
          <ul class=" list-big blue fluid-8-r">
            <li>Escrituras de constitución y de poderes, (si las hubiera).</li>
            <li>Fotocopia CIF de empresa.</li>
            <li>Fotocopia DNI del administrador/es y tarjeta Colegio Oficial de Odontólogos.</li>
            <li>Justificante de número de cuenta bancaria.</li>
            <li>Fotocopia Imp. Sociedades 2023.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>


{% include "banner.njk" %}