---
layout: base.njk
title: Tramitar tu alta
permalink: /tramitar-alta/
image: /assets/static/about-0.webp
eleventyComputed:
  metaTitle: " FORMACIÓN | Clínica de Medicina Estética y Odontología Avanzada en Sant Boi "
  metaDescription: "Centro de medicina estética y odontología avanzada en Sant Boi. Servicios de rejuvenecimiento facial,
  tratamientos corporales, odontología integral y más. Equipo experto y tecnología vanguardista. ¡Visítanos hoy!"
  metaKeywords: "tratamientos, ácido hialurónico, airflow, allonfour, botox, Body Sculpt, sedación consciente"
  metaRobots: "index, follow"
---
<div class="video-bg">
  <video poster="" autoplay="" muted="" loop="">
    <source src="/assets/static/satin.mp4" type="video/mp4" />
  </video>
</div>
<div class="container-fullpage bleed-0 bg-dark has-light">
  {% include 'hero.njk' %}
</div>
<div class="bg-light front-section">
  <section class=" ">
    <div class="container text-center height-xl  align-center ">
      <div class="row">
        <div class="col-xs-12">
          <div class="fluid-4-b  accent">
            Documentación necesaria a adjuntar para tramitar el alta
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mb-64 ">
    <div class="container  height-xl ">
      <div class="row">
           <div class="col-xs-12 col-sm-6 text-center ">
          <div class="fluid-5-b  c-primary mb-24">
            Para Autónomos
          </div>
        <img src="/assets/static/tramitar/autonomos.jpg" alt="">

        </div>
        <div class="col-xs-12 col-sm-6">
          <ul class=" list-big fluid-8-r">
            <li>Documentos de alta de autónomo en Seguridad Social.</li>
            <li>Documento de alta en Hacienda (Modelo 036 O 037).</li>
            <li>Fotocopia DNI del administrador/es y de la tarjeta Colegio Oficial de Odontólogos.</li>
            <li>Justificante del número de cuenta bancaria.</li>
            <li>Último recibo de autónomo.</li>
            <li>Fotocopia IRPF 2020.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <section class="container pbr-120 ">
    <div class="container  height-xl ">
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-center ">
          <div class="fluid-5-b  accent mb-24">
            Para Empresas
          </div>
               <img src="/assets/static/tramitar/empresas.jpg" alt="">
        </div>
        <div class="col-xs-12 col-sm-6">
          <ul class=" list-big blue fluid-8-r">
            <li>Escrituras de constitución y de poderes, (si las hubiera).</li>
            <li>Fotocopia CIF de empresa.</li>
            <li>Fotocopia DNI del administrador/es y tarjeta Colegio Oficial de Odontólogos.</li>
            <li>Justificante de número de cuenta bancaria.</li>
            <li>Fotocopia Imp. Sociedades 2020.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>


{% include "banner.njk" %}