---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---

User-agent: *
Disallow: /admin/
Disallow: /temp/
Disallow: /private/
Disallow: /legal/
Disallow: /site/
Disallow: /tools.checkqrpay.com/

Sitemap: https://{{global.url}}/sitemap.xml